LISTEN_ADDR="0.0.0.0:0000" #choose diferent port than palworld default 8211 if not supplied defaults to 8212
SERVER_ADDR="127.0.0.1:8211" 
CONNECTION_TIMEOUT="300000" #connection timeout time as ms after last player leaves server

PATH_SERVER_BINARY="/where/ever/your/PalServer-Linux-Test"  #binary is
PATH_SERVER_SAVEFILES="/where/ever/your/PalServer"          #folder is
PATH_SAVEFILES_BACKUP="/where/ever/you/want/your/saves"

SERVER_UPDATE_HOUR="3" # does update at 3am if server is not running other wise tries next day again

LOG_LEVEL="info" #give log level off,error,info,warn,trace,debug